MusicPlayer/Connected Services/ServiceAudio/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MusicPlayer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MusicPlayer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAudio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Audio" nillable="true" type="tns:Audio" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAudio" nillable="true" type="tns:ArrayOfAudio" />
  <xs:complexType name="Audio">
    <xs:sequence>
      <xs:element minOccurs="0" name="Genre" type="tns:GenreType" />
      <xs:element minOccurs="0" name="Group" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Path" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Audio" nillable="true" type="tns:Audio" />
  <xs:simpleType name="GenreType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Blues" />
      <xs:enumeration value="Country" />
      <xs:enumeration value="Electronic" />
      <xs:enumeration value="Pop" />
      <xs:enumeration value="Rock" />
      <xs:enumeration value="Hip_Hop" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="GenreType" nillable="true" type="tns:GenreType" />
</xs:schema>