MusicPlayer/Connected Services/AudioPlayerService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AudioPlayerLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AudioPlayerLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAudio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Audio" nillable="true" type="tns:Audio" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAudio" nillable="true" type="tns:ArrayOfAudio" />
  <xs:complexType name="Audio">
    <xs:sequence>
      <xs:element minOccurs="0" name="AudioId" type="xs:int" />
      <xs:element minOccurs="0" name="GenreType" type="tns:GenreType" />
      <xs:element minOccurs="0" name="Group" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="IsFavorites" type="xs:boolean" />
      <xs:element minOccurs="0" name="Path" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Users" nillable="true" type="tns:ArrayOfUser" />
      <xs:element minOccurs="0" name="favorite" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Audio" nillable="true" type="tns:Audio" />
  <xs:simpleType name="GenreType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Pop" />
      <xs:enumeration value="Rock" />
      <xs:enumeration value="Hip_Hop" />
      <xs:enumeration value="Jazz" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="GenreType" nillable="true" type="tns:GenreType" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="FavoriteAudio" nillable="true" type="tns:ArrayOfAudio" />
      <xs:element minOccurs="0" name="Icon" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserAlboms" nillable="true" type="tns:ArrayOfUserAlboms" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfUserAlboms">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserAlboms" nillable="true" type="tns:UserAlboms" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserAlboms" nillable="true" type="tns:ArrayOfUserAlboms" />
  <xs:complexType name="UserAlboms">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlbomId" type="xs:int" />
      <xs:element minOccurs="0" name="ListAudio" nillable="true" type="tns:ArrayOfAudio" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserAlboms" nillable="true" type="tns:UserAlboms" />
</xs:schema>